td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 6px;
    font-family: sans-serif;
}

td {
    color: #555;
}

table {
    width: 100%;
    border-spacing: 12px;
    border-radius: 6px;
    max-width: 500px;
    margin:auto;
    margin-top: 20px;
    box-shadow: 0 0 15px #0009;
}