h1 {
    text-align: center;
    text-decoration: overline underline;
}
p {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight:100;
    text-align: justify;
    line-height: 1.3
}
a{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: rgb(81, 83, 78);
    font-size: 28px;
    letter-spacing: 5px;
}

span {
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    color:cadetblue;
    letter-spacing: 2px;
    text-transform: uppercase;
}